* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.all-containers {
    width: 65%;
    margin: auto;
}

.dark-background {
    background-color: #1F2937;
    color: white;
}

.navbar {
    display: flex;
    height: 10%;
    justify-content: flex-end;
}
.navbar .logo {
    margin-right: auto;
    justify-content: flex-start;
    font-size: 24px;
    color: #F9FAF8;
}
.navbar div {
    margin: 20px;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.placeholder-image {
    width: 100%;
    height: auto;
}

h2.info-grid {
    text-align: center;;
}
div.info-grid {
    display: flex;
    height: 100%;
}

.blank-image {
    width: 100%;
    height: auto;
}

.hero div h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero div div {
    font-size: 18px;
    color: #E5E7EB;
}
